body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.plans {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  color: var(--color-text-light);
}

.plans-header {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: var(--font-family-poppins);
}

.plans__title {
  font-size: 20px;
  font-weight: normal;
}

.plans__subtitle {
  font-size: 14px;
  font-weight: lighter;
}

.plans__container {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 345px;
  height: 265px;
  background-color: var(--background-color-nav-subline);
  border-radius: 10px;
}

.plan-card__title {
  font-size: 19px;
  font-weight: lighter;
  font-family: var(--font-family-poppins);
}

.plan-card__feature {
  list-style: none;
}

.plan-card__features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-card__feature-text {
  font-size: var(--font-size-small);
  font-weight: lighter;
  font-family: var(--font-family-poppins);
}

.plan-card__button {
  width: 124.62px;
  height: 34px;
  border-radius: 3px;
  background-color: var(--background-color-body-feed);
  border: none;
  color: var(--color-text-light);
  font-weight: lighter;
  font-family: var(--font-family-poppins);
  font-size: 14px;

}

.plan-card__button-label{
  cursor: pointer;
}


.plan-card__button--upgrade {
  width: 181px;
}

.payment-loading {
  opacity: 0;
  pointer-events: none;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.payment-loading__container {
  display: flex;
  padding: 10px 25px 10px 25px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 345px;
  height: 265px;
  background-color: #2a2727;
  border-radius: 11px;
}

.payment-loading__title {
  font-family: var(--font-family-poppins);
  font-size: 27px;
  font-weight: 500;
  color: var(--color-text-light);
}

.payment-loading__text {
  font-family: var(--font-family-poppins);
  font-size: 13px;
  font-weight: lighter;
  color: var(--color-text-light);
}


.payment-loading__video {
  width: 128px;
  height: 128px;
}



#checkPay {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#checkPay:checked + .payment-loading {
  opacity: 1;
  pointer-events: auto;
}



@media (min-width: 1024px) {
  .plans__title {
    font-size: 24px;
  }

  .plans__subtitle {
    font-size: 16px;
  }

  .plan-card {
    width: 450px;
    height: 300px;
  }

  .plan-card__title {
    font-size: 22px;
  }

  .plan-card__feature-text {
    font-size: 15px;
  }

  .plan-card__button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }

  .plan-card__button--upgrade {
    width: 200px;
  }
}
