body {
    display: grid;
    background-color: var(--background-color-body-feed);
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 90px;
}

.settings-header {
    padding: 17px 20px 0;
}

.ai-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/1;
    grid-row: 2/3;
}

.ai-instructions__description {
    text-align: center;
    padding: 0 30px 20px 30px;
    color: #ffffff;
    font-family: var(--font-family-main);
    font-weight: 300;
    font-size: 13px;
}

.ai-instructions__input {
    width: 310px;
    height: 512px;
    background-color: var(--color-background-container);
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    font-family: var(--font-family-main);
    font-size: 14px;
    color: #ffffff;
    resize: vertical;
    box-sizing: border-box;
}

.ai-instructions__input::placeholder {
    color: #999;
    text-align: left;
}

.ai-instructions__footer {
    position: relative;
    /* Necesario para posicionar el mensaje absoluto */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/1;
    grid-row: 3/4;
}

.ai-instructions__save-trigger {
    display: none;
    /* Ocultar el checkbox */
}

.ai-instructions__success-msg {
    position: absolute;
    bottom: 50px;
    /* Encima del botón */
    background-color: #4a4a4a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: var(--font-family-main);
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.ai-instructions__save-trigger:checked~.ai-instructions__success-msg {
    opacity: 1;
    animation: fadeOut 2s forwards;
    /* Desaparece después de 2 segundos */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ai-instructions__btn {
    width: 103px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #2196F3;
    color: white;
    font-family: var(--font-family-main);
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}



@media (min-width:1024px) {

    .ai-instructions__btn:hover {
        background-color: #1976D2;
    }
}