/* Estilos globales y variables compartidas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: black;
    --color-background-botones: #FFBF00;
    --text-width: 16px;
    --decoration-text: none;
    --font-family-main: "Inter", sans-serif;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

body {
    min-height: 100vh;
}

.button {
    text-decoration: var(--decoration-text);
    color: var(--color-text);
    font-family: var(--font-family-main);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-light);
    font-style: normal;
    border: 0 solid black;
    border-radius: 5px;
    background-color: var(--color-background-botones);
    font-size: var(--text-width);
    padding: 7px;
}
