/* Estilos específicos de la página de mensaje de recuperación */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-background-botones: #D9D9D9;
    --text-width: 9px;
    --decoration-text: none;
    --color-text : black;
    --input-height: 33px;
    --input-width: 223px;
    --color-text-light: white;
    --color-background-container: #655D5D;
    --font-size-title: 16px;
}

body {
    background-image: url('../../../assets/image/upscalemedia-transformed.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.recovery-password {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.recovery-password__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 12px;
    background-color: var(--color-background-container);
    width: 286px;
    height: 311px;
    transform: translateY(-150px);
}

.recovery-password__title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: 200;
    color: var(--color-text-light);
    font-size: var(--font-size-title);
}

.recovery-password__description{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--color-text-light);
    text-align: center;
}
