/* Estilos específicos de la página de recuperación de contraseña (ingresar correo) */

body {
    background-image: url('../../../../assets/image/upscalemedia-transformed.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.recovery-password {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.recovery-password__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 12px;
    background-color: var(--color-background-container);
    width: 286px;
    height: 311px;
    transform: translateY(-150px);
}

.recovery-password__title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: 200;
    color: var(--color-text-light);
    font-size: var(--recovery-font-size-title);
}

.recovery-password__description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--color-text-light);
    text-align: center;
}

.recovery-password__form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.recovery-password__input {
    height: var(--recovery-input-height);
    width: var(--recovery-input-width);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.recovery-password__button {
    text-decoration: var(--decoration-text);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: 0px solid black;
    border-radius: 9px;
    background-color: var(--recovery-button-bg);
    font-size: var(--recovery-text-size);
    padding: 7px;
    width: 89px;
    height: 24px;
}

.recovery-password__link{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--color-text);
}
