/* Estilos específicos de la página de inicio */

body{
    display: grid;
    grid-template-columns: 1fr;

    background-image: url('../../../../assets/image/upscalemedia-transformed.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header__logo {
    width: 100px;
}

.main__title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main__login {
    margin-top: 154px;
}

.main__regist {
    margin-top: 55px;
}



@media (min-width: 1024px) {
    .main__title {
        font-size: 48px;
    }

    .main__login {
        margin-top: 200px;
    }

    .main__regist {
        margin-top: 100px;
    }


}